#footer{
    background-color: var(--navbar-bg-color);
    width: 100%;
    position: fixed;
    bottom: 0;
}

#footer p{
    color: var(--btn-bg-color);
    text-align: center;
    padding: 10px;
}
#footer span{
    font-family: cursive;
    font-size: 1.1em;
}

#footer p a:visited{
    color: var(--btn-color);
}