#main-content{
    width: 100%;
    padding: 60px;
}
#main-content table{
    width: 100%;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
}
#main-content tr{
    display: grid;
    grid-template-columns: 50px 1fr 70px 70px;
}

thead{
    display: block;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--navbar-bg-color);
}

tbody{
    display: block;
    padding: 15px;
}

#main-content th{
    text-align: left;
}

td{
    padding: 15px;
    border-bottom: thin solid black;
}